{% load static %}
<!DOCTYPE html>
<html lang="en">
    <!-- Basic -->

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Site Metas -->
        <title>Goodies - Shop</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <!-- Site Icons -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
        <!-- Site CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    </head>


    <body>
        <!-- Start Main Top -->
        <div class="main-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="right-phone-box">
                            <p>Call US :- <a href="#"> +11 900 800 100</a></p>
                        </div>
                        <div class="our-link">
                            <ul>
                                <li>
                                    <a href="{% url 'account' %}"><i class="fa fa-user s_color"></i> My Account</a>
                                </li>
                                <li>
                                   <a href="https://goo.gl/maps/4Z1pAwWsMXMSzbvs7"><i class="fas fa-location-arrow"></i>
                                       Our location</a>
                                </li>
                                <li>
                                    <a href="{% url 'register' %}"><i></i> Register Here</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Top -->
        <!-- Start Main Top -->
        <header class="main-header">
            <!-- Start Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
                <div class="container">
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                            aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"
                                class="logo" alt="" /></a>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'shop' %}">SHOP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->

                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav">
                        <ul>
                            <li class="search">
                                <a href="#"><i class="fa fa-search"></i></a>
                            </li>
                            <li class="side-menu">
                                <a href="#">
                                    <i class="fa fa-shopping-bag"></i>
                                    {% with total_qty=basket|length %}
                                    <span id="basket-qty" class="badge">
                                        {% if total_qty > 0 %} {{ total_qty }} {% else %} 0 {% endif%}
                                    </span>
                                        {% endwith %}
                                        <p>My Cart</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->
                </div>
               <!-- Start Side Menu -->
               <div class="side">
                   <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                   <li class="cart-box">
                       <ul class="cart-list">
                           {% for item in basket %} {% with product=item.product %}
                           <li>
                               <a class="photo"><img src="{{product.image.image.image}}" class="cart-thumb"
                                       alt="" /></a>
                               <h6><a>{{product.name}} </a></h6>
                               <p>
                                   {{item.qty}} - <span class="price">{{item.total_price}}</span>
                               </p>
                           </li>
                           {% endwith %} {% endfor %}

                           <li class="total">
                               <a href="{% url 'cart' %}" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                               <span class="float-right"><strong>Total</strong>: {{basket.getCompletePrice}}</span>
                           </li>
                       </ul>
                   </li>
               </div>
               <!-- End Side Menu -->
            </nav>
            <!-- End Navigation -->
        </header>
        <!-- End Main Top -->

        <!-- Start Top Search -->
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search" />
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <!-- End Top Search -->
        <style>
            .account-form input {
                border: 2px solid #ccc;
                height: calc(2em + 0.75rem + 2px);
            }

            .account-form input:focus {
                border-color: #1497ff;
                box-shadow: none;
            }
        </style>

        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-12">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-6  mx-auto">
                                    <form class="account-form p-4 rounded" action="{% url 'login' %}" method="post">

                                        {% csrf_token %}
                                        <h3 class="mb-4">Sign In</h3>

                                        {% if form.errors %}
                                        <div class="alert alert-primary" role="alert">
                                            Error: Username or Password not correct!
                                        </div>
                                        {% endif %}

                                        <label class="form-label">{{ form.username.label}}</label>
                                            {{ form.username}}

                                            <label class="form-label">{{ form.password.label}}</label>
                                                {{ form.password}}
                                                <div class="d-grid gap-2">
                                                    <input type="hidden" name="next" value="{{ next }}">
                                                    <button class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit"
                                                        value="Log-in">Sign in
                                                    </button>
                                                </div>
                                                <p class="text-center pb-3">
                                                    <a href="{% url "register" %}">Create an account</a>
                                                </p>
                                    </form>
                                    <p class="text-center pt-4">
                                        <a href="{% url "pwdreset" %}">Forgotten Password?</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Start Footer  -->
         <footer>
             <div class="footer-main">
                 <div class="container">
                     <div class="row">
                         <div class="col-lg-4 col-md-12 col-sm-12">
                             <div class="footer-top-box">
                                 <h3>Business Time</h3>
                                 <ul class="list-time">
                                     <li>Monday - Friday: 08.00am to 05.00pm</li>
                                     <li>Saturday: 10.00am to 08.00pm</li>
                                     <li>Sunday: <span>Closed</span></li>
                                 </ul>
                             </div>
                         </div>
                         <div class="col-lg-4 col-md-12 col-sm-12">
                             <div class="footer-top-box">
                                 <h3>Social Media</h3>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                 <ul>
                                     <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                     <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                     <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                     <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                     <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                     <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                     <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                                 </ul>
                             </div>
                         </div>
                         <div class="col-lg-4 col-md-12 col-sm-12">
                             <div class="footer-link-contact">
                                 <h4>Contact Us</h4>
                                 <ul>
                                     <li>
                                         <p><i class="fas fa-map-marker-alt"></i>Goodies oHG,Offene Handelsgesellschaft
                                             (OHG)
                                             <br>Luisenweg 97 Hamburg,<br> 20537 </p>
                                     </li>
                                     <li>
                                         <p><i class="fas fa-phone-square"></i>Phone: <a
                                                 href="tel:+1-888705770">+491608169155</a></p>
                                     </li>
                                     <li>
                                         <p><i class="fas fa-envelope"></i>Email: <a
                                                 href="mailto:contactinfo@gmail.com">info@goodies-me.com</a></p>
                                     </li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                     <hr>
                 </div>
             </div>
         </footer>
         <!-- End Footer  -->
        <a href="#" id="back-to-top" title="Back to top" style="display: none">&uarr;</a>

        <!-- ALL JS FILES -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- ALL PLUGINS -->
        <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-select.js' %}"></script>
        <script src="{% static 'js/inewsticker.js' %}"></script>
        <script src="{% static 'js/bootsnav.js' %}"></script>
        <script src="{% static 'js/images-loded.min.js' %}"></script>
        <script src="{% static 'js/isotope.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js '%}"></script>
        <script src="{% static 'js/baguetteBox.min.js' %}"></script>
        <script src="{% static 'js/form-validator.min.js'%}"></script>
        <script src="{% static 'js/contact-form-script.js'%}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'js/register.js' %}"></script>
    </body>

</html>